* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
.container {
    display: grid;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
    background-color: #494D5f;
    color: whitesmoke;
    padding: 1rem;
}
.header div img {
    object-fit: contain;
    height: 10%;
    width: 10%;
}
.libraryArea {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    background-color: #a0d2eb;
    gap: 1rem;
    padding: 1rem;
}
.libraryArea div {
    min-height: 7rem;
    font-size: 0.8rem;
    background-color: #e5eaf5;
    padding: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem grey;
    border-left: 0.6rem solid #a28089;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}